.page-header {
  position: relative;
  width: 320px;
  margin: 0 auto;
  z-index: 5;
  font-weight: 700;
  min-height: 80px;
}
.page-header__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 320px;
  position: absolute;
}
.page-header__item {
  position: relative;
  display: none;
  background-color: #fff;
  border-bottom: 1px solid #ececec;
}
.page-header__item a {
  display: block;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #000;
  padding: 26px 0;
  padding-left: 80px;
}
.page-header__item a:hover {
  opacity: 0.5;
}
.page-header__item--catalog {
  border-top: 1px solid #ececec;
}
.page-header__item--basket a::before {
  content: "";
  display: block;
  position: absolute;
  width: 21px;
  height: 19px;
  top: 28px;
  left: 35px;
  opacity: 0.2;
  background: url(../img/icon-cart.svg) no-repeat;
}
.page-header__item--logo {
  margin-top: 15px;
  margin-bottom: 24px;
  display: block;
  border-bottom: 0;
  width: 86px;
  margin: 0 auto;
}
.page-header__item--logo a {
  padding: 0;
}
.page-header__nav-toggle {
  z-index: 10;
  position: absolute;
  display: block;
  width: 21px;
  height: 14px;
  right: 30px;
  top: 24px;
  font-size: 0;
  background-color: transparent;
  border: 0;
  outline: 0;
  background-image: url(../img/icon-menu-open.svg);
  cursor: pointer;
}
.page-header__nav--show .page-header__nav-toggle {
  height: 21px;
  top: 21px;
  background-image: url(../img/icon-menu-close.svg);
}
.page-header__nav--show .page-header__item {
  display: block;
}
.page-header__nav--show .page-header__item--hidden {
  display: none;
}
body {
  font-family: "OpenSans", Arial, sans-serif;
}
.about-us__title {
  margin: 0 30px;
  margin-top: 25px;
  margin-bottom: 20px;
}
.about-us__list {
  padding: 0;
  margin: 0;
  margin: 0 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
}
.about-us__item {
  position: relative;
  padding-top: 65px;
  padding-bottom: 18px;
  list-style: none;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
}
.about-us__item::before {
  content: "";
  display: block;
  position: absolute;
  width: 55px;
  height: 38px;
  top: 10px;
  left: -5px;
  background-repeat: no-repeat;
  background-position: center;
}
.about-us__item--1 {
  -ms-flex-order: -1;
      order: -1;
  padding-right: 80px;
}
.about-us__item--1::before {
  background-image: url(../../img/icon-feature-1.svg);
}
.about-us__item--2 {
  border: 2;
  padding-right: 40px;
}
.about-us__item--2::before {
  background-image: url(../../img/icon-feature-2.svg);
}
.about-us__item--3 {
  -ms-flex-order: -1;
      order: -1;
  padding-right: 50px;
}
.about-us__item--3::before {
  background-image: url(../../img/icon-feature-3.svg);
}
.about-us__item--4 {
  -ms-flex-order: 5;
      order: 5;
}
.about-us__item--4::before {
  background-image: url(../../img/icon-feature-4.svg);
}
.about-us__item--5 {
  -ms-flex-order: -1;
      order: -1;
  padding-right: 60px;
}
.about-us__item--5::before {
  background-image: url(../../img/icon-feature-5.svg);
}
.about-us__item--6 {
  -ms-flex-order: 6;
      order: 6;
  padding-right: 20px;
}
.about-us__item--6::before {
  background-image: url(../../img/icon-feature-6.svg);
}
.contacts {
  padding-bottom: 42px;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  line-height: 30px;
}
.contacts__title {
  margin: 0 auto;
  width: 260px;
  font-size: 18px;
  line-height: 30px;
  margin-top: 35px;
  margin-bottom: 25px;
}
.contacts__email {
  margin: 0 auto;
  width: 260px;
}
.contacts__email a {
  margin-left: 25px;
  padding-bottom: 3px;
  text-decoration: none;
  color: #444;
  border-bottom: 1px solid #63d1bb;
}
.contacts__adress {
  margin: 0 auto;
  width: 260px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
      justify-content: flex-start;
  margin-top: 30px;
}
.contacts__adress p {
  padding: 0;
  margin: 0;
  width: 150px;
  margin-left: 33px;
}
.contacts__map {
  width: 320px;
  margin: 0 auto;
  margin-top: 35px;
  margin-bottom: 32px;
}
.contacts__writeus {
  margin: 0 auto;
  width: 260px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #444;
  font-weight: 700;
  padding: 13px 0;
  border: solid #444;
  border-width: 1px;
  font-size: 18px;
  line-height: 20px;
}
.copyright {
  padding-top: 22px;
  padding-bottom: 20px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  font-family: "OpenSans", Arial, sans-serif;
  font-size: 19px;
  line-height: 18px;
  font-weight: 700;
}
.copyright a {
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
  font-size: 0;
  width: 27px;
  height: 34px;
  background: url(../img/logo-htmlacademy.svg);
}
.logo {
  width: 86px;
  margin-top: 25px;
  margin-bottom: 15px;
}
.logo-footer {
  display: none;
}
.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
}
.products {
  position: relative;
  padding-top: 30px;
  padding-bottom: 45px;
}
.products::after {
  content: "";
  display: block;
  position: absolute;
  height: 10px;
  width: 100%;
  bottom: 0;
  background: url(../img/bg-zigzag-line.svg);
  background-size: contain;
}
.products__title {
  padding: 0;
  margin: 0;
  padding: 0 30px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}
.products__mark {
  padding: 0 30px;
  font-size: 17px;
  line-height: 20px;
  font-weight: 700;
  color: #63d1bb;
  text-transform: uppercase;
}
.products__description {
  padding: 0 30px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 15px;
  line-height: 24px;
  font-weight: 400;
  color: #444;
}
.products__list {
  padding: 0;
  margin: 0;
  padding: 0 30px;
  list-style: none;
}
.products__item {
  color: #444;
  padding-bottom: 20px;
  line-height: 20px;
}
.products__item span {
  display: inline-block;
  vertical-align: top;
  width: 100px;
}
.products__image {
  margin-top: 19px;
  margin: 0 30px;
  background-color: #eee;
}
.products__price {
  padding: 0 30px;
  margin-top: 20px;
  margin-bottom: 25px;
  display: block;
  text-align: center;
  font-size: 17px;
  line-height: 24px;
  font-weight: 700;
  color: #444;
}
.products__btn {
  margin: 0 30px;
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #444;
  font-weight: 700;
  padding: 13px 0;
  border: solid #444;
  border-width: 1px;
}
.promo {
  border-top: 1px solid #ececec;
  background: url(../img/hero-mobile@1x.jpg) no-repeat center -20px #f9f9f9;
}
.promo__title {
  margin: 0;
  padding: 0 30px;
  padding-top: 60px;
  padding-bottom: 122px;
  font-size: 27px;
  line-height: 30px;
  font-weight: 700;
  text-align: center;
}
.promo__link {
  position: relative;
  display: block;
  box-sizing: border-box;
  padding-top: 25px;
  padding-bottom: 30px;
  padding-right: 130px;
  padding-left: 30px;
  width: 320px;
  color: #fff;
  text-decoration: none;
  font-size: 19px;
  line-height: 24px;
  font-weight: 700;
}
.promo__link--interior {
  background-color: #63d1bb;
}
.promo__link--interior::after {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 60px;
  top: 24px;
  right: 37px;
  opacity: 0.5;
  background-image: url(../img/icon-interior.svg);
}
.promo__link--toys {
  background-color: #56c3b2;
}
.promo__link--toys::after {
  content: "";
  display: block;
  position: absolute;
  width: 60px;
  height: 60px;
  top: 20px;
  right: 25px;
  opacity: 0.5;
  background-image: url(../img/icon-toy.svg);
}
.review {
  margin: 0 auto;
  width: 260px;
  padding-bottom: 55px;
}
.review__title {
  font-size: 25px;
  line-height: 30px;
  margin-top: 37px;
  margin-bottom: 23px;
}
.review__text {
  padding: 0;
  margin: 0;
  padding-bottom: 27px;
  font-size: 15px;
  line-height: 30px;
  color: #444;
}
.review__author {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
.review__author-mail {
  font-size: 17px;
  line-height: 30px;
  text-decoration: none;
  color: #444;
}
.review__arrows {
  font-size: 0;
  margin-top: 32px;
  margin-bottom: 40px;
}
.review__arrows a {
  content: "";
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
  width: 130px;
  height: 50px;
  border: 1px solid #ececec;
}
.review__arrow {
  position: relative;
}
.review__arrow::before {
  content: "";
  display: block;
  position: absolute;
  width: 70px;
  height: 30px;
  top: 12px;
  left: 38px;
  background-repeat: no-repeat;
}
.review__arrow--prew::before {
  background-image: url(../img/icon-left-arrow.svg);
}
.review__arrow--next::before {
  background-image: url(../img/icon-right-arrow.svg);
}
.review__write {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #444;
  font-weight: 700;
  padding: 13px 0;
  border: solid #444;
  border-width: 1px;
}
.social {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
}
.social__btn {
  height: 40px;
}
.social__btn--inst {
  width: 22px;
  background: url(../img/icon-insta.svg) no-repeat center;
}
.social__btn--fb {
  width: 15px;
  margin-right: 40px;
  margin-left: 40px;
  background: url(../img/icon-fb.svg) no-repeat center;
}
.social__btn--twit {
  width: 24px;
  background: url(../img/icon-twitter.svg) no-repeat center;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: normal;
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2") format("woff2"), url("../fonts/opensansbold.woff") format("woff");
  font-weight: bold;
  font-weight: 700;
}
.center {
  width: 320px;
  margin: 0 auto;
}
.mp0 {
  padding: 0;
  margin: 0;
}
.pseudo {
  content: "";
  display: block;
  position: absolute;
}
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn-mobile {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #444;
  font-weight: 700;
  padding: 13px 0;
  border: solid #444;
  border-width: 1px;
}
@media (min-width: 768px) {
  .page-header {
    width: 668px;
    min-height: 80px;
  }
  .page-header__nav-toggle {
    display: none;
  }
  .page-header__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 668px;
  }
  .page-header__item {
    display: block;
    border-bottom: 0;
    border-top: 0;
    background-color: transparent;
  }
  .page-header__item a {
    padding: 0;
    margin: 0;
    font-size: 17px;
    line-height: 24px;
    border-bottom: 0;
  }
  .page-header__item--logo {
    padding: 0;
    margin: 0;
    margin-top: 14px;
    width: 113px;
    height: 46px;
  }
  .page-header__item--search {
    -ms-flex-order: 1;
    order: 1;
    margin-left: 208px;
    border-left: 1px solid #ececec;
  }
  .page-header__item--search a {
    width: 80px;
    height: 80px;
    display: block;
    font-size: 0;
  }
  .page-header__item--search a svg {
    fill: red;
  }
  .page-header__item--basket {
    border-left: 1px solid #ececec;
    -ms-flex-order: 1;
    order: 1;
    padding-left: 85px;
  }
  .page-header__item--basket a {
    margin-top: 23px;
    margin-bottom: 34px;
  }
  .page-header__item--catalog,
  .page-header__item--order {
    margin-top: 17px;
    width: 168px;
    -ms-flex-order: 2;
    order: 2;
  }
  .page-header__item--catalog a,
  .page-header__item--order a {
    font-size: 15px;
    line-height: 24px;
  }
  .page-header__item--hidden {
    display: none;
  }
  .page-header__item--delivery {
    display: block;
    margin-top: 17px;
    margin-left: 100px;
    -ms-flex-order: 3;
    order: 3;
    font-size: 15px;
    line-height: 24px;
    font-weight: 400;
    color: #444;
  }
  .about-us {
    width: 668px;
    padding-bottom: 35px;
  }
  .about-us__title {
    margin-left: -4px;
    margin-top: 50px;
    font-size: 43px;
    line-height: 50px;
  }
  .about-us__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-us__item {
    box-sizing: border-box;
    width: 334px;
    padding-right: 42px;
    padding-top: 65px;
    padding-bottom: 47px;
    font-size: 20px;
    line-height: 22px;
  }
  .contacts {
    position: relative;
    padding-bottom: 58px;
    font-size: 17px;
  }
  .contacts__title {
    width: 668px;
    font-size: 43px;
    line-height: 50px;
    margin-top: 60px;
    margin-bottom: 50px;
  }
  .contacts__email {
    width: 334px;
    padding-right: 334px;
    padding-bottom: 80px;
  }
  .contacts__email a {
    border-bottom: none;
  }
  .contacts__adress {
    position: absolute;
    width: 334px;
    top: 70px;
    right: 50px;
  }
  .contacts__adress p {
    width: 250px;
    margin-left: 27px;
  }
  .contacts__map {
    width: 768px;
    margin-top: 35px;
    margin-bottom: 47px;
  }
  .contacts__writeus {
    margin: 0 auto;
    width: 228px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #444;
    font-weight: 700;
    padding: 13px 0;
    border: solid #444;
    border-width: 1px;
    padding-bottom: 16px;
    font-size: 17px;
    line-height: 20px;
  }
  .copyright {
    padding-top: 34px;
  }
  .logo {
    margin-top: 22px;
    width: 113px;
  }
  .logo-footer {
    display: block;
    width: 86px;
    margin-top: 25px;
    margin-right: 90px;
  }
  .page-footer {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: 668px;
    padding: 25px 50px;
  }
  .products {
    margin: 0 auto;
    position: relative;
    width: 668px;
    padding: 0 50px;
    padding-top: 36px;
    padding-bottom: 70px;
  }
  .products__title {
    margin-left: -3px;
    font-size: 43px;
    line-height: 50px;
  }
  .products__mark {
    display: block;
    position: absolute;
    width: 100px;
    top: 48px;
    right: 63px;
    text-align: center;
    line-height: 17px;
  }
  .products__description {
    width: 292px;
    margin-top: 50px;
    margin-bottom: 45px;
    font-size: 17px;
    line-height: 30px;
  }
  .products__item {
    font-size: 15px;
  }
  .products__item span {
    width: 95px;
  }
  .products__image {
    position: absolute;
    top: 125px;
    right: 50px;
    background-color: #eee;
  }
  .products__price {
    display: block;
    width: 295px;
    margin-top: 45px;
    margin-bottom: 35px;
    font-size: 20px;
  }
  .products__btn {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #444;
    font-weight: 700;
    padding: 13px 0;
    border: solid #444;
    border-width: 1px;
    width: 290px;
  }
  .promo {
    position: relative;
    background: url(../../img/hero-tablet.jpg) no-repeat center top #f9f9f9;
  }
  .promo::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 24px;
    bottom: -3px;
    background: url(../img/bg-zigzag-fill.svg);
    background-size: contain;
  }
  .promo .center {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .promo__title {
    padding: 0;
    margin: 0;
    width: 500px;
    padding-top: 153px;
    padding-bottom: 373px;
    font-size: 43px;
    line-height: 50px;
  }
  .promo__link {
    width: 334px;
    font-size: 20px;
    line-height: 30px;
    padding-top: 28px;
    padding-bottom: 40px;
    padding-right: 130px;
    padding-left: 35px;
  }
  .promo__link--interior::after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    right: 37px;
  }
  .promo__link--toys {
    background-color: #56c3b2;
  }
  .promo__link--toys::after {
    content: "";
    display: block;
    position: absolute;
    top: 30px;
    right: 35px;
  }
  .review {
    position: relative;
    width: 668px;
    padding: 0 50px;
    padding-top: 72px;
    padding-bottom: 135px;
    background: url(../img/review@1x.jpg) no-repeat;
  }
  .review__title {
    font-size: 43px;
    line-height: 50px;
    margin-top: 5px;
    margin-left: -4px;
    margin-bottom: 50px;
  }
  .review__text {
    padding-bottom: 57px;
    font-size: 17px;
  }
  .review__author {
    font-size: 17px;
  }
  .review__author-mail {
    width: 140px;
    display: block;
  }
  .review__arrows {
    position: absolute;
    bottom: 102px;
    right: 64px;
  }
  .review__arrows a {
    content: "";
    width: 74px;
    height: 34px;
    border: 1px solid #ececec;
  }
  .review__write {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #444;
    font-weight: 700;
    padding: 13px 0;
    border: solid #444;
    border-width: 1px;
    position: absolute;
    width: 171px;
    top: 78px;
    right: 50px;
  }
  .social {
    padding-top: 28px;
  }
  .center {
    width: 768px;
  }
}
@media (min-width: 1150px) {
  .page-header {
    -ms-flex-pack: center;
    justify-content: center;
    width: 1050px;
  }
  .page-header__menu-toggle {
    display: none;
  }
  .page-header__nav {
    display: block;
  }
  .page-header__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    position: absolute;
    width: 415px;
    top: 30px;
    left: 0;
  }
  .page-header__item {
    list-style: none;
    width: 175px;
  }
  .page-header__item a {
    padding: 20px 0;
    font-size: 17px;
    line-height: 24px;
  }
  .page-header__item--hidden {
    display: block;
    margin-top: 52px;
  }
  .page-header__item--hidden a {
    font-size: 15px;
    line-height: 24px;
  }
  .page-header__item--order,
  .page-header__item--sale {
    padding-left: 45px;
  }
  .page-header__user {
    padding: 0;
    margin: 0;
    position: absolute;
    right: 0;
    display: -ms-flexbox;
    display: flex;
  }
  .page-header__user-item {
    list-style: none;
  }
  .page-header__user-item--search a {
    font-size: 2px;
  }
  .page-header__user-item--basket a {
    padding-top: 32px;
    padding-bottom: 32px;
    padding-left: 85px;
    font-size: 17px;
    line-height: 24px;
    text-decoration: none;
    color: #000;
  }
  .page-header__delivery {
    display: block;
    position: absolute;
    top: 105px;
    font-size: 15px;
    line-height: 24px;
    color: #444;
    right: 0;
  }
  .about-us {
    width: 700px;
    padding-top: 10px;
  }
  .about-us__title {
    font-size: 53px;
    line-height: 57px;
  }
  .about-us__list {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .about-us__item {
    width: 350px;
    padding-right: 60px;
    padding-top: 60px;
    padding-bottom: 50px;
  }
  .contacts {
    margin: 0 auto;
    width: 1050px;
    padding: 0 50px;
    position: relative;
    padding-top: 40px;
    padding-bottom: 157px;
  }
  .contacts__title {
    width: 875px;
    padding-left: 166px;
    font-size: 53px;
    line-height: 57px;
    margin-top: 102px;
    margin-bottom: 50px;
  }
  .contacts__email {
    width: 875px;
    padding-left: 175px;
    padding-bottom: 0;
    padding-right: 0;
  }
  .contacts__email a {
    border-bottom: 1px solid #63d1bb;
  }
  .contacts__adress {
    position: relative;
    width: 875px;
    padding-left: 175px;
    top: 0;
    right: 0;
    margin-bottom: 76px;
  }
  .contacts__map {
    position: absolute;
    width: 525px;
    top: 70px;
    right: 50px;
    margin-top: 0;
    margin-bottom: 0;
  }
  .contacts__writeus {
    width: 228px;
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #444;
    font-weight: 700;
    padding: 13px 0;
    border: solid #444;
    border-width: 1px;
    position: absolute;
    margin: 0;
    font-size: 17px;
    line-height: 20px;
    left: 225px;
  }
  .logo {
    margin-top: 9px;
    margin-bottom: 7px;
    width: 149px;
    height: 72px;
    background-color: #ddd;
  }
  .page-footer {
    width: 1050px;
  }
  .products {
    margin: 0 auto;
    width: 875px;
    margin-left: 175px;
    padding-top: 120px;
    padding-bottom: 95px;
  }
  .products__title {
    position: relative;
    z-index: 5;
    font-size: 53px;
    line-height: 57px;
  }
  .products__mark {
    top: 136px;
    left: -90px;
  }
  .products__description {
    margin-bottom: 55px;
  }
  .products__image {
    top: 50px;
    right: 50px;
  }
  .products__price {
    margin-top: 102px;
    margin-bottom: 35px;
    font-size: 20px;
  }
  .products__btn {
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    text-align: center;
    color: #444;
    font-weight: 700;
    padding: 13px 0;
    border: solid #444;
    border-width: 1px;
    width: 290px;
  }
  .promo {
    background: url(../../img/hero-desktop.jpg) no-repeat center top;
  }
  .promo__title {
    width: 750px;
    padding-bottom: 360px;
    font-size: 53px;
    line-height: 57px;
  }
  .promo__link {
    width: 525px;
    padding-top: 28px;
    padding-bottom: 34px;
    padding-right: 350px;
    font-size: 20px;
    line-height: 30px;
  }
  .promo::after {
    content: "";
    display: block;
    position: absolute;
    width: 1150px;
    height: 34px;
    bottom: -14px;
    background-image: url(../img/bg-zigzag-fill.svg);
  }
  .review {
    position: relative;
    width: 1050px;
    padding: 0 50px;
    padding-top: 55px;
    padding-bottom: 190px;
    background: url(../img/review@1x.jpg) no-repeat 50px 3px;
  }
  .review__title {
    font-size: 53px;
    line-height: 57px;
    margin-top: 18px;
    margin-left: 171px;
  }
  .review__text {
    margin-left: 175px;
    margin-right: 85px;
    padding-bottom: 37px;
  }
  .review__author {
    margin-left: 175px;
  }
  .review__author-mail {
    margin-left: 175px;
  }
  .review__arrows {
    bottom: 157px;
  }
  .review__write {
    top: 82px;
  }
}
@media (width: 768px) {
  .contacts__writeus {
    border-width: 2px;
  }
  .products__btn {
    border-width: 2px;
  }
  .review__write {
    border-width: 2px;
  }
  .btn-mobile {
    border-width: 2px;
  }
}
@media (width: 1150px) {
  .contacts__writeus {
    border-width: 2px;
  }
  .products__btn {
    border-width: 2px;
  }
  .review__write {
    border-width: 2px;
  }
  .btn-mobile {
    border-width: 2px;
  }
}
@media (min-width: 768px) and (width: 768px) {
  .contacts__writeus {
    border-width: 2px;
  }
  .products__btn {
    border-width: 2px;
  }
  .review__write {
    border-width: 2px;
  }
}
@media (min-width: 768px) and (width: 1150px) {
  .contacts__writeus {
    border-width: 2px;
  }
  .products__btn {
    border-width: 2px;
  }
  .review__write {
    border-width: 2px;
  }
}
@media (min-width: 1150px) and (width: 768px) {
  .contacts__writeus {
    border-width: 2px;
  }
  .products__btn {
    border-width: 2px;
  }
}
@media (min-width: 1150px) and (width: 1150px) {
  .contacts__writeus {
    border-width: 2px;
  }
  .products__btn {
    border-width: 2px;
  }
}
