@font-face {
  src: url("../font/cuprum.woff2");
  /* разные файлы */
  font-family: 'cuprum';
  /* название одно */
  font-style: normal;
  font-weight: 400;
  /* разная плотность */
}
@font-face {
  src: url("../font/cuprumbold.woff2");
  /* разные файлы */
  font-family: 'cuprum';
  /* название одно */
  font-style: normal;
  font-weight: 700;
  /* разная плотность */
}
@font-face {
  src: url("../font/ptsans.woff2");
  /* разные файлы */
  font-family: 'ptsans';
  /* название одно */
  font-style: normal;
  font-weight: 400;
  /* разная плотность */
}
@font-face {
  src: url("../font/ptsansbold.woff2");
  /* разные файлы */
  font-family: 'ptsans';
  /* название одно */
  font-style: normal;
  font-weight: 700;
  /* разная плотность */
}
@font-face {
  src: url("../font/cuprumitalic.woff2");
  /* разные файлы */
  font-family: 'cuprum';
  /* название одно */
  font-style: italic;
  font-weight: 400;
  /* разная плотность */
}
@font-face {
  src: url("../font/cuprumbolditalic.woff2");
  /* разные файлы */
  font-family: 'cuprum';
  /* название одно */
  font-style: italic;
  font-weight: 700;
  /* разная плотность */
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2") format("woff2"), url("../fonts/opensans.woff") format("woff");
  font-weight: 400;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensanslight.woff2") format("woff2"), url("../fonts/opensanslight.woff") format("woff");
  font-weight: 300;
}
.container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 1160px;
  margin: 0 auto;
  padding: 0 20px;
}
.container--main {
  box-shadow: 0px 0 5px 5px rgba(34, 34, 34, 0.1);
}
.mp0 {
  padding: 0;
  margin: 0;
}
.pseudo {
  content: "";
  display: block;
  position: absolute;
}
.list-none {
  list-style: none;
  margin: 0;
  padding: 0;
}
.btn {
  display: block;
  text-transform: uppercase;
  text-decoration: none;
}
.btn--yellow {
  font-size: 18px;
  line-height: 40px;
  font-family: "Gilroy";
  font-weight: 800;
  text-align: center;
  color: #000;
  text-decoration: none;
  letter-spacing: 0.2em;
  background: linear-gradient(to bottom, transparent 15px, #f0c52e 17px, #f0c52e 23px, transparent 25px, transparent);
}
.btn--yellow:hover {
  background: #f0c52e;
  background-clip: content-box;
}
.btn--yellow:active {
  color: rgba(0, 0, 0, 0.3);
}
.page {
  padding: 0;
  margin: 0;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #f2f2f2;
}
.logo {
  text-decoration: none;
  background-color: #E3643;
}
.logo img {
  display: inline-block;
  vertical-align: top;
}
.logo__title {
  padding-top: 15px;
  display: inline-block;
  vertical-align: top;
  color: #fff;
  text-transform: uppercase;
}
.logo.navigation__item-link {
  background-color: #EE3643;
}
.slides {
  padding-top: 25px;
}
.slide {
  display: -ms-flexbox;
  display: flex;
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
.slide__title {
  margin: 20px;
  text-align: center;
  font-family: 'cuprum', Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.slide__title b {
  display: block;
  font-size: 32px;
}
.slide__description {
  margin: 0 20px;
  text-indent: 40px;
  text-align: justify;
}
.page-header {
  width: 100%;
  background-color: #32425C;
  box-shadow: 0px 0 8px rgba(0, 0, 0, 0.5);
}
.page-header__nav {
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
}
.page-header__nav-phone {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 250px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 18px;
  color: #fff;
}
.page-header__nav-phone span {
  position: relative;
  padding-left: 65px;
  padding-right: 5px;
  margin-left: auto;
}
.page-header__nav-phone--velcom::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 60px;
  height: 20px;
  background: url(../../img/Velcom.png) center;
  background-size: cover;
}
.page-header__nav-phone--mts::before {
  content: "";
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  width: 60px;
  height: 20px;
  background: url(../img/mts.png) no-repeat #fff;
  background-size: 57px 20px;
}
.navigation {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
}
.navigation__item {
  background-color: rgba(0, 0, 0, 0.2);
}
.navigation__item:first-child a {
  padding: 0 15px;
}
.navigation__item:hover {
  box-shadow: 0 3px 5px 0px #fff, 0 -3px 5px 0px #fff;
  background-color: rgba(0, 0, 0, 0.6);
}
.navigation__item:hover a {
  color: #fff;
}
.navigation__item:active {
  opacity: 0.8;
  box-shadow: 0 1px 3px 0px #fff, 0 -1px 3px 0px #fff;
}
.navigation__item:first-child a {
  border-left: 1px solid rgba(186, 163, 96, 0.5);
}
.navigation__item-link {
  display: block;
  padding: 15px 20px;
  font-family: 'cuprum', Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid rgba(186, 163, 96, 0.7);
}
.additional-nav {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  -ms-flex-align: start;
      align-items: flex-start;
}
.additional-nav__item:hover {
  box-shadow: 0 3px 5px 0px #BAA360, 0 -3px 5px 0px #BAA360;
  background-color: #000;
}
.additional-nav__item:hover a {
  color: #fff;
}
.additional-nav__item:active {
  opacity: 0.5;
  box-shadow: 0 1px 3px 0px #BAA360, 0 -1px 3px 0px #BAA360;
}
.additional-nav__item:first-child a {
  border-left: 1px solid rgba(186, 163, 96, 0.5);
}
.additional-nav a {
  display: block;
  padding: 15px 24px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #BAA360;
  text-decoration: none;
  text-transform: uppercase;
  border-right: 1px solid rgba(186, 163, 96, 0.5);
}
.features__list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: center;
      justify-content: center;
  padding-top: 30px;
}
.features__item {
  width: 330px;
  margin: 10px 25px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  background-color: #fff;
  transition: all .1s;
}
.features__item:hover {
  box-shadow: 0 10px 25px 0 rgba(0, 0, 0, 0.5);
}
.features a {
  text-decoration: none;
  color: #000;
}
.features__title {
  margin: 10px 0;
  text-align: center;
  text-transform: uppercase;
}
.features__description {
  margin: 0;
  padding: 10px 20px;
}
.reference dd {
  display: -ms-flexbox;
  display: flex;
}
.reference p {
  width: 400px;
  margin-right: 20px;
  font-size: 20px;
}
